<form id="newIdea">
    <fieldset>
        <legend>New Idea</legend>
        <div class="row">
            <div class="large-4 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix">Title</span>
                    </div>
                    <div class="small-8 columns">
                        <input type="text" name="idea[title]" placeholder="What's your idea?" />
                    </div>
                </div>
            </div>
            <div class="large-8 columns left">
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix">Body</span>
                    </div>
                    <div class="small-8 columns">
                        <input type="text" name="idea[body]" placeholder="Get specific"></textarea>
                    </div>
                    <div class="small-2 columns">
                        <input id="save" type="submit" value="Save" class="button success postfix">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
