<tr class="idea" data-id="<%= idea.id  %>">
    <td id="title"><%= idea.title %></td>
    <td id="body"><%= idea.body %></td>
    <td id="quality"><%= idea.quality %></td>
    <td><a id="deleteIdea">X</a></td>
</tr>
